.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}



body iframe {
  border: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s 1s;
}



a, .btn-outline-secondary {
  color: #003100;
}

.btn-outline-secondary {
  border-color: #003100;
}

.card-body {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.card-body > a:first-of-type {
  margin: 15px 0 44px;
  text-decoration: none;
}



.elementor-icon {
  color: #006415;  /*#55595c;*/
  border-color: #55595c;
  display: inline-block;
  line-height: 1;
  transition: all 0.3s;
  font-size: 50px;
  text-align: center;
}

.elementor-icon i {
  width: 1em;
  height: 1em;
  position: relative;
}

i.eci {
  display: block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.select2-container i.eci,
.elementor-icon-list-icon i.eci {
  display: inline-block;
}
.elementor-icons-manager__tab__item__icon.eci {
  font-size: 28px;
}
.elementor-icons-manager__tab-link i.eci {
  display: inline-block;
  font-size: 18px;
}
@font-face {
  font-family: "garden1";
  src: url("./garden1.eot");
  src: url("./garden1.eot")
      format("embedded-opentype"),
    url("./garden1.woff")
      format("woff2"),
    url("./garden1.woff")
      format("woff"),
    url("./garden1.ttf")
      format("truetype"),
    url("./garden1.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
.eci.garden1-001-watering-can::before {
  content: "\e800";
  font-family: "garden1";
}
.eci.garden1-002-sprout::before {
  content: "\e801";
  font-family: "garden1";
}
.eci.garden1-003-farming-tools::before {
  content: "\e802";
  font-family: "garden1";
}
.eci.garden1-004-plant::before {
  content: "\e803";
  font-family: "garden1";
}
.eci.garden1-005-green-tea::before {
  content: "\e804";
  font-family: "garden1";
}
.eci.garden1-006-farming::before {
  content: "\e805";
  font-family: "garden1";
}
.eci.garden1-007-vegetables::before {
  content: "\e806";
  font-family: "garden1";
}
.eci.garden1-008-dig::before {
  content: "\e807";
  font-family: "garden1";
}
.eci.garden1-009-bird::before {
  content: "\e808";
  font-family: "garden1";
}
.eci.garden1-010-wheelbarrow::before {
  content: "\e809";
  font-family: "garden1";
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
